.navbar
  .navbar-inner
    a.brand(href="/") Application
    ul.nav.pull-right
      - if (user)
        li: a(href="/logout") Log Out
      - else
        li: a(href="/login") Sign In
        li: a(href="/users/new") Register
